<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php">
	<testsuite name='API'>
		<directory suffix='Test.php'>./</directory>
	</testsuite>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src</directory>
			<exclude>
				<directory suffix=".php">../app.php	</directory>
				<directory suffix=".php">../upload.php</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
